.header__nav{
    display:flex;
    align-items: center;
    justify-content: space-between; 
}
.header__logo-image{
    width: 106px;
    height:auto;
}
.header__menu-list {
    list-style-type: none;
    display: flex;
}
.header__menu-item{
    margin-left: 20px;
    margin-right: 20px;

}
.header__icon{
    fill:var(--brandcolor);
    height: 26px;
    width: 26px;
    margin-left: 5px;
    margin-right: 5px;
}
a{
    font-size: 11px;
    color:var(--basic-text-color)
}