.header__hero {
  margin-top: 150px;
}
.header__hero-title--brandcolor {
  color: var(--brand-color);
}
.header__hero-text {
  text-align: center;
  font-size: 11px;
  font-family: var(--font-regular);
  color: var(--basic-text-color);
  letter-spacing: 2.2px;
  margin-bottom: 20px;
}
.header__hero-title {
  font-size: 62px;
  color: var(--title-color);
  margin-bottom: 70px;
}
.header__hero-subtitle,
.header__hero-subtitle-link {
  font-size: 18px;
  font-family: var(--font-regular);
  font-weight: 600;
  color: var(--subtitle-color);
}
.header__hero-subtitle-link {
  color: var(--brand-color);
  text-decoration: underline;
}
.header__hero-title,
.header__hero-subtitle {
  text-align: center;
}
